<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link type="text/css" href="{{ 'main.css' | asset_url }}" rel="stylesheet">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}

    {{ content_for_header }}

    <!-- {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%} -->

    {{ 'styles.css' | asset_url | stylesheet_tag }}
{% style %}
        {{ settings.type_body_font | font_face: font_display: 'swap' }}
        {{ settings.type_header_font | font_face: font_display: 'swap' }}
      :root {
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};
        --font-body-weight-bold: {{ settings.type_body_font.weight | plus: 300 | at_most: 1000 }};

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};
      }
    h1, h2, h3, h4, h5, .btn span, .intro__password-link, .intro__btn-input, button, a{
      font-family: var(--font-heading-family) !important;
      font-style: var(--font-heading-style) !important;
      font-weight: var(--font-heading-weight) !important;
      text-transform: 
      {% if settings.font_transform == 'uppercase' %}
        uppercase
      {% elsif settings.font_transform == 'lowercase' %}
        lowercase
      {% elsif settings.font_transform == 'standart' %}
        none
      {% else %}
        none
      {% endif %} !important;
    }

    input, p, span, input, textarea, body{
      font-family: var(--font-body-family) !important;
      font-style: var(--font-body-style) !important;
      font-weight: var(--font-body-weight) !important;
      text-transform: 
      {% if settings.font_transform_body == 'uppercase' %}
        uppercase
      {% elsif settings.font_transform_body == 'lowercase' %}
        lowercase
      {% elsif settings.font_transform_body == 'standart' %}
        none
      {% else %}
        none
      {% endif %} !important;
    }

      {% endstyle %}
  </head>

  <body class="password-layout">
    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    <footer>
    </footer>
  </body>
</html>
